*{
    /* css reset */
    margin: 0;
    padding: 0;
}
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top :0px;
}
#logo{
    margin: 10px 22px;
}
#logo img{
    height: 50px;
    margin: 6px;
    border-radius: 32px;
}
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.75;
    z-index: -1;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 2px 14px;
    border-radius: 10px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color:black;
    background-color: white;
    
}
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 680px;
    padding: 3px 200px;
}
#home::before{
    content: "";
    position: absolute;
    background: url('../bg4.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #f1ebeb;
    opacity: 1;
    z-index: -1;
}
#home h1{
    color:beige;
    font-size: 2.5rem;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: beige;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/* Services Section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid red;
    padding: 34px;
    margin: 3px 9px;
    border-radius: 25px;
    background-color: #f1ebeb;

}
#services .box img{
    height :175px;
    display: block;
    margin: auto;
    border-radius: 14px;
}
    /* Product Section */
.productitems{
    padding: 2px 30px;
}
#products{
    height: 357px;
}
#products::before{
    content: "";
    position: absolute;
    background: url('../bg4.jpg') no-repeat center center/cover;
    width: 100%;
    height: 46%;
    z-index: -1;
    opacity: 0.6;
}
#prod img{
    height: 135px;
}
#prod{
    display: flex;
    justify-content: center;
    align-items: center;
}
#grievance{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    text-align: center;
}
#grievance textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
}
#grievance form{
    width:40%;
}
#grievance label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}
#support{
    position: relative;
}
#support::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../support-maintenance.png') no-repeat center center/cover;
}
#contact{
    position: relative;
}
#contactmode{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
.socials img{
    width: 35px;
    padding: 0px 31px;
}

.primary{
    font-size: 2.5rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 26px;
    cursor: pointer;
}
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
.h-secondary{
    font-size: 1.5rem;
    padding: 12px;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
.center{
    text-align: center;
    font-family: 'Bree Serif', serif;
}
footer{
    background: black;
    color: white;
    padding: 3px 20px;
}
html{
    scroll-behavior: smooth;
}